@media (max-width: 600px) {
    .produto {
        display: block;
    }

    .galeria {
        display: none;
    }

    .comprar,
    .addFav {
        text-align: center;
    }

    /*menu*/
    .header .menu ul {
        text-align: center;
        display: block;

    }

    /*info do poduto*/
    .infoProduct {
        padding: 0px;
    }

    .infoProduct div {
        width: 100%;
    }

    .imgPrincipal {
        text-align: center;
    }

    .imgPrincipal img {
        width: 18rem;
    }

    /*caracteristicas do produto box preta*/
    .caracteristicas-conteiner {
        width: 100%;
        padding: 0px;
        display: block;

        /*display:grid;
        grid-template-columns: 28% 28% 28%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 'marca linha peso'
                            'tamanho  material material';
        justify-items:center;
        grid-column-gap:25px;
        
        grid-row-gap: 10px;*/
    }

    .caracteristicas-conteiner .marca,
    .caracteristicas-conteiner .linha,
    .caracteristicas-conteiner .peso,
    .caracteristicas-conteiner .tamanho,
    .caracteristicas-conteiner .material {
        width: 50%;
        margin: 20px auto;
    }

    .menu-conteiner {
        display: none;
    }

    #icon-menu-responsivo {
        opacity: 1;
    }

    #icon-menu-responsivo i {
        color: #fff;
        font-size: 2rem;
    }

    .menu-conteiner-responsive.mostrar,
    #icon-menu-responsivo.mostrar {
        display: block;
    }

    .menu-conteiner-responsive.mostrar {
        width: 60%;
        height: 100vh;
        background-color: #ffffff;
        border-radius: 10px;
        opacity: 1;
        transition: height 1s ease 0s;
        transition: opacity 1s ease 0s;
    }

    .menu-conteiner-responsive.mostrar .menu {
        padding: 0px 30px;
    }

    .menu-conteiner-responsive.mostrar .menu .menu-list {
        list-style: none;
    }

    .menu-conteiner-responsive.mostrar .menu .menu-list li {
        margin: 20px 0px 20px;
        color: #000000;
        padding: 15px;
        border-radius: 10px;
        transition: all 0.5s;
    }

    .menu-conteiner-responsive.mostrar .menu .menu-list li:hover {
        background-color: #0a8ec2;
        transform: scale(1.1);
    }

    .produto-buttons {
        justify-content: space-around;
    }

    /*
    .caracteristicas-conteiner .marca{
        grid-area: marca;
    }
    .caracteristicas-conteiner .linha{
        grid-area: linha;
    }
    .caracteristicas-conteiner .peso{
        grid-area: peso;
    }
    .caracteristicas-conteiner .tamanho{
        grid-area: tamanho;
    }
    .caracteristicas-conteiner .material{
        grid-area: material;
        grid-column: 2 / 3;
    }*/
}