:root{
    --description: #a7a7a7;
    --borda : rgba(255,255,255,0.3);
    --linear-bg: linear-gradient(45deg, #00142c, #5933b3);
    --linear-gray: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    --linear-bg-gray-claro: linear-gradient(to right bottom, rgba(255,255,255,0.1), rgba(255,255,255,0.3));
    --color-font: #f5f5f5;
}
*{
    padding: 0px;
    margin: 0px;
}
h1, h2{
    background-image: linear-gradient(to right, #c1deff, #24a6ca);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    /*background: var(--linear-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/
}
.produto{
    margin: 0 auto;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 15% 1fr 30% ;
    grid-template-areas: 
    'info-basic imagem informacao'
    'mini-img mini-img mini-img';
    max-width: 80%;
    height: 100vh;
    z-index: 2;
    padding: 15px;
    border: 1px solid red;
}
.img{
    grid-area:mini-img;
    max-width: 100%;
    grid-gap: 20px ; /*espaçamento entre os itens*/
    padding: 15px;
    border: var(--borda) 1px solid;
    border-radius: 8px;
    margin: 20px;
    border: 1px solid red;
}
.caracteristicas{
    grid-area: info-basic;
    border: 1px solid red;
    width: 100%;
}
.infoProduct{
    grid-area: informacao;
    width: 100%;
    border: 1px solid red;
    background-color: #000;
}
.caracteristicas div, 
.galeria .imgGaleria img, 
.comprar button, 
.infoProduct{
    border-radius: 0px 8px 0px 8px;
}
.infoProduct p{
    color: var(--color-font);
}
.caracteristicas div{
    box-shadow: 1px 5px 3px 2px #d3cece52;
    width: 50%;
    margin: 15px auto 15px;
    padding: 15px;
}
.caracteristicas p,
.qtd input{
    color: #000;
}
.imgPrincipal{
    grid-area: imagem;
    border: 1px solid red;
    text-align: center;
    width: 100%;
}
.imgPrincipal img{
    margin-top: 10px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.galeria{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.galeria .imgGaleria img{
    width: 200px;
    height: 200px;
    box-shadow:  1px 3px 5px 0px #24242470 ;
}
.qtd input, .caracteristicas div {
    text-align: center;
}
.tituloProduto, .qtd{
    margin-bottom: 10px;
}
.descriptionProduct, .estrelas, .price{
    margin-bottom: 20px;
}
.price p{
    color: #7a0404;
    font-weight: 600;
    font-size: 0.900rem;
}
.qtd input{
    width: 30px;
    padding: 3px;
    border: var(--description) 1px solid ;
    outline: none;
}
.comprar button{
    border: none;
    padding: 15px;
    background-color: #7a0404;
    color: #fff;
}
.comprar button:hover{
    background-color: #920a0a;
}
/*.circle1, .circle2, .circle3{
    background: var(--linear-gray);
    position: absolute;
    border-radius: 50%;
}
.circle1{
    bottom: 7%;
    left: 18%;
    width: 140px;
    height: 140px;
}
.circle2{
    top: 12%;
    right: 18%;
    width: 120px;
    height: 120px;
}
.circle3{
    left: 40%;
    width: 100px;
    height: 100px;
}*/