:root {
    --description: #a7a7a7;
    --borda: rgba(255, 255, 255, 0.3);
    --linear-bg: linear-gradient(45deg, #00142c, #5933b3);
    --linear-gray: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    --linear-bg-gray-claro: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    --color-font: #f5f5f5;
}

* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 4rem;
}

.header .logo {
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    width: 50%;
    text-align: center;
}

.header .menu {
    width: 100%;
}

.header .menu .menu-item {
    color: #fff;
}

.header .menu-conteiner {
    width: 30%;
}

.header .menu ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.produto {
    display: grid;
    grid-template-rows: 70% 15%;
    grid-template-columns: 12% 1fr 35%;
    grid-template-areas:
        'mini-img imagem informacao'
        'mini-img  info-basic informacao';
    height: 100vh;
    z-index: 2;
    padding: 30px;
}

.galeria div {
    margin: 30px 0px 30px;
}

.imgPrincipal {
    grid-area: imagem;
    text-align: center;
    width: 100%;
}

.img {
    grid-area: mini-img;
    /*espaçamento entre os itens*/
    border: var(--borda) 1px solid;
    padding: 10px;
}

.caracteristicas {
    width: 100%;
    grid-area: info-basic;
}

.caracteristicas-conteiner {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 15px;
    justify-content: space-between;
}

.infoProduct {
    grid-area: informacao;
    width: 100%;
}

.infoProduct div,
.infoProduct hr {
    padding: 0px 40px 0px 40px;
}

.caracteristicas-conteiner div {
    width: 10%;
    height: 40%;
    padding: 15px;
    background-color: #000;

}

.infoProduct div {
    margin: 15px 0px 15px;
    width: 80%;
}

.infoProduct hr {
    width: 80%;
}

.descriptionProduct p {
    width: 80%;
    font-size: 1.1rem;
    border-radius: 8px;
    color: #000;
}

.infoProduct div h1 {
    font-size: 2.5rem;
    color: #000;
    font-weight: 600;
}

.infoProduct .price h2 {
    font-size: 2rem;
    color: #000;
    font-weight: 600;
}

.infoProduct .price p {
    font-size: 1rem;
    font-weight: 500;
    color: #ff0000d8;
    text-decoration: line-through;
}

.infoProduct .estrelas p {
    font-size: 1.2rem;
}

.caracteristicas-conteiner h2,
.caracteristicas-conteiner p,
.qtd input {
    color: #ffffff;
}


.imgPrincipal img {
    width: 24rem;
}

.galeria .imgGaleria img {
    width: 10rem;
    height: 10rem;
    border: 1px solid rgb(228, 228, 228);
}

.qtd input,
.caracteristicas div {
    text-align: center;
}

.tituloProduto,
.qtd {
    margin-bottom: 10px;
}

.price p {
    color: #7a0404;
    font-weight: 600;
    font-size: 0.900rem;
}

.qtd input {
    width: 30px;
    padding: 3px;
    border: var(--description) 1px solid;
    outline: none;
}

.comprar button {

    border: none;
    padding: 15px;
    background-color: #7a0404;
    color: #fff;
}

.comprar button:hover {
    background-color: #920a0a;
}

/*.circle1, .circle2, .circle3{
    background: var(--linear-gray);
    position: absolute;
    border-radius: 50%;
}
.circle1{
    bottom: 7%;
    left: 18%;
    width: 140px;
    height: 140px;
}
.circle2{
    top: 12%;
    right: 18%;
    width: 120px;
    height: 120px;
}
.circle3{
    left: 40%;
    width: 100px;
    height: 100px;
}*/